*{
    margin: 0;
    padding: 0;
}

.calculetor {
    width: 500px;
    height: auto;
    margin: 40px auto;
    background: #000000;
    padding: 80px 30px;
}
input {
    width: 90%;
    padding: 32px 25px;
    border: none;
    background: #00ff70;
    border-radius: 26px;
    margin: 30px 0;
    color: red;
    font-size: 22px;
    font-weight: 800;
    text-shadow: 3px 3px 4px black;
    letter-spacing: 4px;
    text-transform: uppercase;
}
a {
    font-size: 54px;
    font-weight: 900;
    text-decoration: none;
    height: 80px;
    width: 80px;
    background: black;
    display: inline-block;
    margin: 20px 21px;
    color: wheat;
    line-height: 80px;
    text-align: center;
    border-radius: 50%;
    box-shadow: 0px 0px 38px -15px aqua;
    transition: .3s;
}
a:focus {
    color: #e83a3b;
    font-size: 50px;
    box-shadow: 0 0 38px -10px aqua;
}
