@import url(https://fonts.googleapis.com/css2?family=Roboto:wght@100;200;300;400;500;600;800;900&display=swap);


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: cyan;
}
.calculator{
    position: relative;
    display: grid;
}
.calculator .value{
    grid-column: span 4;
    height: 100px;
    text-align: right;
    border: none;
    outline: none;
    padding: 10px;
    font-size: 18px;
    border-top: 10px solid #0c2835;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
}
.calculator span{
    display: grid;
    width: 60px;
    height: 60px;
    color: #fff;
    background: #0c2835;
    place-items: center;
    border: 1px solid rgba(0, 0, 0, .1);
    margin: 0 2px;
    margin-top: 2px;
}
.calculator span:active{
    background: #74ff3b;
    color: #111;
}
.calculator span.clear{
    grid-column: span 2;
    width: 124px;
    background: darkred;
}
.calculator span.sum{
    grid-row: span 2;
    height: 120px;
}
.calculator span.equal{
    background: darkorange;
}