*{
    margin: 0;
    padding: 0;
}
.button-div{
    width: 500px;
    height: 500px;
    background: #2c3e50;
    margin: auto;
}

a {
        background: #8e44ad;
        padding: 30px 78px;
        display: inline-block;
        font-size: 30px;
        color: white;
        font-weight: 900;
        text-decoration: none;
        border-radius: 50px;
        border: 5px solid aliceblue;
        margin-left: 24%;
        margin: 32% 22%;
        transition: 1s;

}
a:hover{
    box-shadow:0 0 20px 20px blue,0 0 20px 40px red,0 0 20px 65px green;
    background: #2ecc71;
    color: #d35400;
    border: 5px solid #9b59b6;
}